/* Ionic reset */
.bar-header {
   height:50px;
}
.bar .title {
   line-height: 50px;
}
.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before {
   line-height: 40px;
}
.bar .button {
   line-height: 40px;
}

.bar-footer {
   height: 70px;
}

/* view specific */
.row.med-add-options {
   margin-top: 40px;
}

@media screen and (orientation:portrait) {

}
@media screen and (orientation:landscape) {

}