.idea/
node_modules/
platforms/android/assets/www/
platforms/android/CordovaLib/
platforms/android/ant-build/
platforms/android/res/xml/
plugins/
thesis_project.sublime-project
thesis_project.sublime-workspace