<ion-view title="Geschiedenis" class="history-view has-padding">
   <ion-content pj-scroll-controll class="scroll-container">
      <div pj-history-day class="item" ng-repeat="day in med_history_array" ng-class="{'day-selected': day.selected==true}" >
         <div class="history-date">{{day.date}}</div>
         <div class="row history-row">
            <div pj-history-med class="col" ng-repeat="med in day.meds" ng-class="{'med-selected': med.selected==true}" ng-click="popup()">
               <div class="status-triangle status-{{med.status_class}}"></div>
               <div class="med-icon med-icon-{{med.icon}}">
                  <i class="med-icon-interaction icon ion-alert-circled" ng-if="med.interactions"></i>
               </div>
               <div class="med-info-footer">
                  <div class="med-name">{{med.med_name}}</div>
                  <div class="med-dosis">{{med.dosis}}</div>
               </div>
            </div>
         </div>
      </div>
      <div ng-if="med_history_array.length === 0" class="history-explanation">U heeft nog geen medicijnen ingenomen</div>
   </ion-content>
   <ion-footer-bar class="bar-stable history-footer">
      <div class="col">
         <div class="med-status">
            <div class="indicator status-on-time"></div>
            <div class="indicator-label">Op tijd</div>
         </div>
      </div>
      <div class="col">
         <div class="med-status">
            <div class="indicator status-to-late"></div>
            <div class="indicator-label">Te laat</div>
         </div>
      </div>  
      <div class="col">
         <div class="med-status">
            <div class="indicator status-not"></div>
            <div class="indicator-label">Niet ingenomen</div>
         </div>
      </div>        
   </ion-footer-bar>
</ion-view> 