<ion-view title="{{med.trade_name}}">
   <ion-content class="has-header padding-view med-detail">
    
      <div class="med-icon placeholder-img">
         {{med.form}}
      </div>

      <div class="med-info">
         <h1 class="med-name">{{med.trade_name}}</h1>
         <div class="dose-detail">
            <div class="amount">{{med.dose.amount}}</div>
            <div class="unit">{{med.dose.unit}}</div>
         </div>
         <p class="description">{{med.description}}</p>
         <div class="dosis">
            <h2>Inamemomenten</h2>
               <div class="item" ng-repeat="dose in med.dosis">
                  <div class="time">
                     {{dose.time}}
                  </div>
                  <div class="dose-amount">{{dose.amount}} <span>x</span></div>
                  <div class="dose">
                     <div class="amount">{{med.dose.amount}}</div>
                     <div class="unit">{{med.dose.unit}}</div>
                  </div>
            
               </div>
            </div>
         </div>
      </div>

   </ion-content>
</ion-view>