<ion-view title="Nieuw Medicijn">
   <ion-content class="has-header padding new-med-container">
      <div class="row question">
         <div class="col">
            <h1>Is dit medicijn voorgeschreven door een medische professional?</h1>
         </div>
      </div>
      <div class="row answer">
         <div class="col">
            <div class="radio-container">
               <div pj-radio ng-class="{'selected': answer === true}" class="pj-radio" data-group="new-med-group" data-value="true" ng-click="toggle_radio(true)">
                  <label>Ja</label>
                  <i class="radio-icon ion-checkmark"></i>
               </div>
            </div>
         </div>
         <div class="col">
            <div class="radio-container">
               <div pj-radio ng-class="{'selected': answer === false}" class="pj-radio" data-group="new-med-group" data-value="false" ng-click="toggle_radio(false)">
                  <label>Nee</label>
                  <i class="radio-icon ion-checkmark"></i>
               </div>
            </div>
         </div>
      </div>
   </ion-content>
      <div class="row med-add-options" ng-class="{'question-answered': question_answered === true}">
         <div class="col">
            <a class="button button-clear button-block" href="#/nieuw/scan">
               <div class="placeholder-img nav-icon nav-icon-new"></div>
               <span class="button-label">Medicijn Scannen</span>
            </a>
         </div>
         <div class="col">
            <a class="button button-clear button-block" href="#/nieuw/type">  
               <div class="placeholder-img nav-icon nav-icon-history"></div>
               <span class="button-label">Naam Invoeren</span>
            </a>
         </div>
      </div>
</ion-view>