<ion-view title="Nieuw Medicijn">
   <ion-content class="has-header padding">
      <div class="row">
         <div class="col">
            <strong>Is dit medicijn voorgeschreven door een medische professional?</strong>
         </div>
      </div>
      <div class="row">
         <div class="col">
            Nee
         </div>
         <div class="col">
            <label class="toggle ">
               <input type="checkbox">
               <div class="track">
                  <div class="handle"></div>
               </div>
            </label>
         </div>
         <div class="col">
            Ja
         </div>
      </div>
      <div class="row med-add-options">
         <div class="col"><a class="button button-positive button-block" href="#/nieuw/scan">scan</a></div>
         <div class="col"><a class="button button-positive button-block" href="#/nieuw/typ">typ</a></div>
      </div>
   </ion-content>
</ion-view>