<ion-view title="Overzicht">
   <ion-content class="has-header">
      <div class="med-list scroll has-header has-footer">
         <a class="item" ng-repeat="med in med_overview" type="item-text-wrap" href="#/medicijn-detail/{{med.id}}">
            <div class="time-container" ng-class="{'time-header': med.time_header==true}">
               <span ng-if="med.time_header" class="time">
               {{med.time}}
               </span>
            </div>
            <div class="med-icon med-icon-{{med.icon}} placeholder-img">
            {{med.icon}}
            </div>
            <div class="med-info">
               <div class="med-name"><h2>{{med.trade_name}}</h2></div>
               <div class="dosis">
                  <div class="dose-amount">{{med.amount}} <span>x</span></div>
                  <div class="dose">
                     <div class="amount">{{med.dosis_amount}}</div>
                     <div class="unit">{{med.unit}}</div>
                  </div>
               </div>
            </div>
         </a>
      </div>

   </ion-content>

   <ion-footer-bar class="bar-stable">
      <div class="col">
         <a class="button button-clear button-block" href="#/nieuw">
            <div class="placeholder-img nav-icon nav-icon-new"></div>
            <span class="button-label">Nieuw Medicijn</span>
         </a>
      </div>
      <div class="col">
         <a class="button button-clear button-block" href="#/geschiedenis">  
            <div class="placeholder-img nav-icon nav-icon-history"></div>
            <span class="button-label">Geschiedenis</span>
         </a>
      </div>         
   </ion-footer-bar>
   
</ion-view>