<ion-header-bar class="bar bar-header bar-dark">
   <h1 class="title">Instellingen</h1>
</ion-header-bar>
<ion-content>
   <div class="list">
      <div class="item item-divider">
         Notificaties
      </div>
      <div class="item range range-positive">
         <i class="icon ion-volume-low"></i>
         <input type="range" name="volume" min="0" max="100" ng-model="settings.sound_volume">
         <i class="icon ion-volume-high"></i>
      </div>
      <div class="item item-input item-select">
         <div class="input-label">
            Geluid
         </div>
         <select>
            <option selected>Tring</option>
            <option>Biep</option>
            <option>Toeter</option>
         </select>
      </div>
      <ion-toggle ng-model="settings.vibration_notification">Vibreer</ion-toggle>
      <ion-toggle ng-model="settings.shake_to_take">Schud om medicijn te nemen</ion-toggle>
      <ion-toggle ng-model="settings.visual_notification">Visueele Feedback</ion-toggle>
      <div class="item range range-positive">
         <i class="icon ion-ios7-sunny-outline"></i>
         <input type="range" name="contrast" min="0" max="100" ng-model="settings.screen_contrast">
         <i class="icon ion-ios7-sunny"></i>
      </div>

      <div class="item item-divider">
         Invoer
      </div>
      <ion-toggle ng-model="settings.vibration_input">Vibratie bij invoer</ion-toggle>
      <ion-toggle ng-model="settings.sound_input">Geluid bij invoer</ion-toggle>
      
      
      <div class="item item-divider">
         Debug
      </div>
      <div class="item item-button-right">
         Reset Device Storage
         <button class="button button-positive" ng-click="reset_device_storage()">
            <i class="icon ion-trash-b"></i>
         </button>
      </div>
      <div class="item item-button-right">
         Cancel All Notifications
         <button class="button button-positive" ng-click="cancel_all_notifications()">
            <i class="icon ion-trash-b"></i>
         </button>
      </div>
      <div class="item item-button-right">
         Reset Default Settings
         <button class="button button-positive" ng-click="reset_default_settings()">
            <i class="icon ion-trash-b"></i>
         </button>
      </div>

   </div>
</ion-content>