<ion-header-bar class="bar bar-header bar-dark">
   <h1 class="title">Instellingen</h1>
</ion-header-bar>
<ion-content>
   <div class="list">
      <div class="item item-divider">
         Notificaties
      </div>
      <div class="item range range-positive">
         <i class="icon ion-volume-low"></i>
         <input type="range" name="volume">
         <i class="icon ion-volume-high"></i>
      </div>
      <div class="item item-input item-select">
         <div class="input-label">
            Geluid
         </div>
         <select>
            <option selected>Tring</option>
            <option>Biep</option>
            <option>Toeter</option>
         </select>
      </div>
      <div class="item item-toggle">
         Vibreer
         <label class="toggle toggle-assertive">
            <input type="checkbox" ng-checked="vibration_notification" ng-click="toggle_setting('vibration_notification')">
            <div class="track">
               <div class="handle"></div>
            </div>
         </label>
      </div>
      <div class="item item-toggle">
         Schud om medicijn te nemen
         <label class="toggle toggle-assertive">
            <input type="checkbox" ng-checked="shake_to_take" ng-click="toggle_setting('shake_to_take')">
            <div class="track">
               <div class="handle"></div>
            </div>
         </label>
      </div>
      <div class="item item-toggle">
         Visueele Feedback
         <label class="toggle toggle-assertive">
            <input type="checkbox" ng-checked="visual_notification" ng-click="toggle_setting('visual_notification')">
            <div class="track">
               <div class="handle"></div>
            </div>
         </label>
      </div>
      <div class="item range range-positive">
         <i class="icon ion-ios7-sunny-outline"></i>
         <input type="range" name="volume" min="0" max="100" value="33">
         <i class="icon ion-ios7-sunny"></i>
      </div>

      <div class="item item-divider">
         Invoer
      </div>
      <div class="item item-toggle">
         Vibratie bij invoer
         <label class="toggle toggle-assertive">
            <input type="checkbox" ng-checked="vibration_input" ng-click="toggle_setting('vibration_input')">
            <div class="track">
               <div class="handle"></div>
            </div>
         </label>
      </div>
      <div class="item item-toggle">
         Geluid bij invoer
         <label class="toggle toggle-assertive">
            <input type="checkbox" ng-checked="sound_input" ng-click="toggle_setting('sound_input')">
            <div class="track">
               <div class="handle"></div>
            </div>
         </label>
      </div>
      <div class="item item-divider">
         Debug
      </div>
      <div class="item item-button-right">
         Reset Device Storage
         <button class="button button-positive" ng-click="reset_device_storage()">
            <i class="icon ion-trash-b"></i>
         </button>
      </div>
      <div class="item item-button-right">
         Cancel All Notifications
         <button class="button button-positive" ng-click="cancel_all_notifications()">
            <i class="icon ion-trash-b"></i>
         </button>
      </div>

   </div>
</ion-content>