<div class="explanation-dialog">
   <div>Scannen van medicijn is een makkelijk proces van drie stappen.</div>
   <ol>
      <li><span class="step">1</span><span class="desc">Zoek de barcode op het medicijndoosje</span></li>
      <li class="double"><span class="step">2</span><span class="desc">Hou de barcode horizontaal voor de camera op ongeveer 5cm afstand</span></li>
      <li><span class="step">3</span><span class="desc">Wacht tot u een biep hoort</span></li>
   </ol>

   <ion-toggle ng-model="user_data.hide_scan_explanation">Laat deze uitleg niet meer zien</ion-toggle>
</div>