/* Ionic reset */
.bar-header {
   height:50px;
}
.bar .title {
   line-height: 50px;
}
.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before {
   line-height: 40px;
}
.bar .button {
   line-height: 40px;
}

.has-header {
   top: 50px;
}

.has-footer {
   bottom: 188px;
}

.bar-footer {
   height: 190px;
}

.item h2 {
   font-size: 22px;
   font-weight: bold;
}

/* global */
.padding-view {
   padding: 10px;
}

/* view specific */
/**/
.row.med-add-options {
   margin-top: 40px;
}

/* overzicht */
.med-list .time-container,
.med-list .med-icon,
.med-list .med-info,
.dose-amount,
.dose,
.amount,
.unit {
   float: left;
}

.med-list .time-container,
.med-list .med-icon {
   width: 60px;
   height: 60px;
}

.med-list .med-icon {
   margin-left: 70px;
   text-align: center;
}
.med-list .time-container{
   border-right: 1px solid #ddd;
   position:absolute;
   height:100px;
   top:0;
   padding-top: 14px;
}

.med-list .time-container.time-header {
   font-weight: bold;
}

.med-list .med-name {
   padding-bottom: 4px;
}

.dosis {
   clear: left;
}

.dose-amount,
.dose .amount {
   padding-right: 5px;
}

.med-list .med-info {
   margin-left: 10px;
}

.bar-footer .button {
   width:100%;
   padding-bottom:50%;
}
.nav-icon {
   width: 120px;
   height:120px;
   margin: 0 auto;
}

/* med-detail */
.med-detail .med-icon {
   width: 40%;
   padding-bottom: 40%;
   margin:auto;
}

.med-detail .med-name,
.med-detail .dose-detail,
.med-detail .time,
.med-detail .dose-amount {
   float:left;
}

.med-detail .time {
   margin-right: 10px;
}

.med-detail .med-name {
   width:70%;
}

.med-detail .dose-detail {
   width: 20%;
}

.med-detail .description {
   clear: left;
}

.secondary-info .item {
   white-space: normal;
}



/* wireframe styles */
.placeholder-img {
   background-size: 100%;
   color:rgba(100,100,100,0.3);
   background-repeat: no-repeat;
   text-align: center;
   background-image: url('../img/placeholder.png');
   background-position: 50%;
}

@media screen and (orientation:portrait) {

}
@media screen and (orientation:landscape) {

}