/* COLORS
Light blue: #BDDCFF;
Icons | time column

Medium blue: #5AA7FF;

Dark blue: #053E80 ;
Navigation Elements Important buttons

Danger Dark Red: #c90000;
Delete button | Warnings

*/

/* Ionic reset */
body, 
.item,
.bar-stable .button.button-clear,
.bar .title,
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"],
input[type="search"],
.back-button-label, 
.settings-button-label,
.button {
   font-size: 14.5pt;
}

.bar-header .title {
   font-size: 18pt;
}

.back-button-label,
.settings-button-label,
.add-dose-button-label {
   position: absolute;
   top: 0;
   font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
.back-button-label,
.add-dose-button-label {
   left: 40px;
}

.button.back-home {
   position:relative;
   z-index:10;
}

.back-button-label {
   top: -3px;
}

.back-button {
   margin-top: 2px;
}

.settings-button-label {
   right: 45px;
}

.bar-header {
   height:50px;
}
.bar .title {
   line-height: 50px;
}
.bar .button {
   line-height: 40px;
}

.has-header {
   top: 50px;
}

.has-footer {
   bottom: 188px;
}

.bar-footer {
   height: 190px;
}

.item h2 {
   font-size: 20pt;
}

.bar .button.button-icon .icon:before, 
.bar .button.button-icon:before, 
.bar .button.button-icon.icon-left:before, 
.bar .button.button-icon.icon-right:before,
.item .icon {
   font-size: 40px;
   line-height: 40px;
}

.item-icon-right .icon {
   right: 12px;
}

.item-icon-left .icon {
   left: 12px;
}

.item-icon-left {
   padding-left: 55px;
}

.popup {
   width: 500px;
   background-color: white;
}

h3.popup-title {
   text-align: left;
   font-size: 30px;
   padding: 0 10px;
   color: white;
}

h5.popup-sub-title {
   font-size: 24px;
   text-align: left;
   padding-left: 10px;
   color: white;
}

.pop-title, .pop-time {
   color: white;
}

.pop-title {
   float:left;
}
.pop-time {
   float: right;
}

.floater {
   display: block;
}

.popup-body {
   clear:both;
}

a.item::after {
   font-size: 40px;
   margin-top: -20px;
}

.placeholder-icon:first-child {
   padding-right: 12px;
}

.padding-view {
   padding: 10px;
}

.nav-bar {
   background-color: #053E80;
   border-color: rgb(90,90,90);
}

.nav-bar .title,
.nav-bar .settings-button-label,
.nav-bar .button-clear,
.nav-bar .back-button-label {
   color: white;
}

.nav-bar .title,
.nav-bar .settings-button-label,
.nav-bar .button-clear,
.nav-bar .back-button-label {
   font-size: 18pt;
}

.button.button-positive,
.toggle input:checked + .track {
   background-color: #053E80;
}

.toggle input:checked + .track {
   border-color: #053E80;
}

.button {
   border-radius: 7px;
   font-weight: bold;
}

.right-med-column .item {
   text-overflow: clip;
   white-space: normal;
}

textarea {
    resize: none;
    height: 200px;
}

/* view specific */
/**/
.row.med-add-options {
   margin-top: 40px;
}

/* overzicht */
.med-list .time-container,
.med-list .med-icon,
.med-list .med-info,
.dose-amount,
.dose,
.amount,
.unit {
   float: left;
}

.med-list .item {
   border: none;
   height: 100px;
   padding: 0;
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box;    /* Firefox, other Gecko */
   box-sizing: border-box;         /* Opera/IE 8+ */
}

.med-list .item.time-header {
   border-top: 1px solid rgb(90,90,90);
}

.info-col {
   border: 1px solid white;
   border-top-color: rgb(90,90,90);
   width: 86%;
   float: right;
   height: 100px;
   padding: 15px;
   padding-left: 25px;
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box;    /* Firefox, other Gecko */
   box-sizing: border-box;         /* Opera/IE 8+ */
}

.time-header .info-col {
   border-top-color: white;
}

.med-list .med-icon {
   width: 70px;
   height:0;
   padding-bottom: 70px;
   margin-right: 4%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   position:relative;
}
.med-icon.med-icon-tablet_1 { background-image: url(../img/tablet_1_L.png)}
.med-icon.med-icon-tablet_2 { background-image: url(../img/tablet_2_L.png)}
.med-icon.med-icon-tablet_3 { background-image: url(../img/tablet_3_L.png)}
.med-icon.med-icon-powder   { background-image: url(../img/powder_L.png)}
.med-icon.med-icon-liquid   { background-image: url(../img/liquid_L.png)}

.med-icon .med-icon-interaction {
   color: #c90000;
   font-size: 32pt;
   position:absolute;
   left: 0px;
   top:-2px;
}

.interaction-item.item-icon-left {
   padding-left: 65px;
}

.med-list .time-container {
   border-right: 1px solid #ddd;
   position:absolute;
   height:100px;
   top:0;
   left:0;
   width:15%;
   background-color: #BDDCFF;
}


.time-header .time-container span {
   display: block;
   width:100%;
   text-align: center;
   font-size: 20pt;
   padding-top: 8px;
}

.time-header .time-container .triangle {
   position: absolute;
   right: -30px;
   top:0;
   width: 0; 
   height: 0; 
   border-left: 0px solid transparent;
   border-right: 30px solid transparent;
   border-top: 30px solid #BDDCFF;
}

.med-list .med-name {
   padding-bottom: 4px;
}

.dose-amount,
.dose .amount {
   padding-right: 5px;
}

.overzicht-footer div {
   width: 100%;
   float:left;
   height: 0;
   padding-bottom: 38%;
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}
.overzicht-footer .new-med-icon { background-image: url(../img/new_med_icon.png)}
.overzicht-footer .history-icon { background-image: url(../img/history_icon.png)}


.overzicht-footer span {
   width: 100%;
   float:left;
}

.nav-icon {
   width: 120px;
   height:120px;
   margin: 0 auto;
}

/* med-detail */
.med-detail .med-icon {
   width: 35%;
   padding-bottom: 35%;
   margin:15px auto 2px auto;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
}

.med-detail .med-name,
.med-detail .dose-detail,
.med-detail .time,
.med-detail .dose-amount {
   float:left;
}

.med-detail .time {
   margin-right: 10px;
}

.med-detail .med-name {
   margin-bottom: 15px;
   width: 100%;
   text-align: center;
}

.item-divider {
   background-color: #BDDCFF;
   border-left: none;
   border-right:none;
}

.item {
   margin-left: 0;
   margin-right: 0;
}

.col-reminder .item {
   border: none;
   overflow: visible;
}

.item.dosis .button {
   padding: 0;
}

.col-time     { flex: none; width:17%; min-width: 90px; }
.col-amount   { flex: none; width:15%; min-width: 80px; }
.col-interval { flex: none; width:26%; min-width: 121px;}
.col-reminder { flex: none; width:15%; min-width: 110px; }
.col-delete   { flex: none; width:8%; min-width: 60px;}

.col-reminder .item-toggle .toggle {
   top: 10px;
   left:5px;
   right:0;
}

.col-reminder .item-toggle .track {
   width: 90px;
   height: 50px;
   border-radius: 25px;
}

.col-reminder .item-toggle .handle {
   width: 46px;
   height: 46px;
   border-radius: 50px;
}

.col-reminder .toggle input:checked + .track .handle {
   -webkit-transform: translate3d(40px, 0, 0);
   -moz-transform: translate3d(40px, 0, 0);
   transform: translate3d(40px, 0, 0);
}

.col-reminder .item {
   background: none;
}

.dosis.item {
   padding: 0;
}

.dosis.item.add-item .button {
   padding: 0 10px;
}

.item.header-item {
   padding: 5px 0 0 0;
}
.row.header-row {
   padding: 0 5px;
}

.dosis .row {
   padding: 0 5px;
   margin:0;
}

.item.header-item .col-reminder { width:25%; }

.interaction-med {
   font-weight: bold;
}

.interaction-status {
   float: right;
}

/* DIRECTIVES */
/* radio */
[pj-radio] {
   position:relative;
   display:block;
   width:100%;
   padding:50%;
   border-radius: 50%;
   background-color: rgba(100,100,100, 0.1);
   -webkit-box-shadow: 0px 0px 0px 10px #BDDCFF inset;
   -moz-box-shadow: 0px 0px 0px 10px #BDDCFF inset;
   box-shadow: 0px 0px 0px 10px #BDDCFF inset;

}

[pj-radio].selected {
   background-color: #BDDCFF;
   /*border: 10px solid #053E80;*/
   -webkit-box-shadow: 0px 0px 0px 10px #053E80 inset;
   -moz-box-shadow: 0px 0px 0px 10px #053E80 inset;
   box-shadow: 0px 0px 0px 10px #053E80 inset;
}

[pj-radio] i,
[pj-radio] label {
   position:absolute;
   top:0;
   left:0;
   right:0;
   line-height: 150px;
}

[pj-radio] label {
   font-size: 36px;
}

[pj-radio] i {
   display: none;
   font-size: 120px;
   opacity: 0.1;
}

[pj-radio].selected i {
   display: block;
}

/* time-picker */
div[pj-time-picker] .col-hour,
div[pj-time-picker] .col-minute { 
   flex: none; width:47%;
}

div[pj-time-picker] .col-seperator { 
   flex: none; width:6%;
   text-align: center;
   padding-top: 84px;
   font-weight:bold;
}

div[pj-time-picker] .hour_holder,
div[pj-time-picker] .minute_holder,
div[pj-time-picker] .col-seperator,
div[pj-time-picker] button {
   font-size: 28pt;
}

/* number-picker */
div[pj-number-picker] .col{ 
   flex: none; 
   width:50%;
   margin: 0 auto;
}

div[pj-number-picker] .number_holder,
div[pj-number-picker] .minute_holder,
div[pj-number-picker] button {
   font-size: 28pt;
}

/* scroll-controll */
.scroll-controll {
   position: fixed;
   background-color: #BDDCFF;
   border: 4px solid #053E80;

   height: 65px;
   width: 100px;
   right: 10px;
   z-index: 11;
}

.scroll-controll.scroll-up {
   top: 2px;
   border-bottom-right-radius: 15px;
   border-bottom-left-radius: 15px;
   border-top: none;
}

.scroll-controll .handle {
   font-size: 50pt;
   color: #053E80;
   text-align: center;
   width: 100%;
   display:inline-block;
}

.scroll-controll.scroll-down {
   bottom: 0;
   border-top-right-radius: 15px;
   border-top-left-radius: 15px;
   border-bottom: none;
}

[pj-med-action] {
   position: relative;
   margin: 35px 0 15px 0;
}

[pj-med-action] .badge {
   position:         absolute;
   right:            9px;
   top:              9px;
   width:            30px;
   height:           30px;
   border-radius:    15px;
   background-color: #c90000;
   color:            white;
   font-size:        20pt;
   padding-top:      7px;
   text-align:       center;
   z-index:          10;
}

[pj-med-action] .col {
   flex: none;
   width: 30%;
   margin-right: 5%
}


[pj-med-action] .col.last {
   margin-right:0;
}

/* new medicin */
.new-med-container {
   padding: 10%;
   text-align: center;
}

.radio-container {
   width: 100px;
   margin: auto;
}

.pj-radio i, .pj-radio label {
   line-height: 100px;
}

.med-add-options {
   position:absolute;
   left:0;
   right:0;
   bottom: 5%;
   z-index: -1;
   opacity: 0.2;
   padding: 0 10%;
   width:100%;
}

.med-add-options.question-answered {
   z-index: 10;
   opacity: 1;
}

.med-add-options .button {
   height: 120px;
   width:80%;
   margin: 0 10%;
   display: block;
   color:white;
   font-size: 24px;
   padding-top: 15px;
   float: left;
}

/* new med scan */
.explanation-dialog ol {
   margin-top:10px;
   margin-bottom:30px;
}

.explanation-dialog ol li {
   padding: 20pt 0;
}

.explanation-dialog ol li span.step {
   font-size: 30pt;
   font-weight: bold;
   padding-right: 10px;

   float:left;
   clear:left;
   width:5%;
}

.explanation-dialog ol li span.desc {
   padding-left: 10px;
   float:left;
   width:95%;
}

.explanation-dialog .double .desc {
   margin-top: -7pt;
}

/* new med type */
.results .item {
   font-size: 15pt;
   padding: 16px;
   padding-left:50px;
}

/* history */
.history-view .scroll-container {
   top: 50px;
   bottom: 80px;
}

[pj-history-day] {
   height:225px;
   padding: 0;
   margin-bottom: 10px;
}

[pj-history-day] .history-date {
   background-color: #BDDCFF;
   height:35px;
   text-align: center;
   font-size: 16pt;
   font-weight: bold;
   padding-top: 5px;
   white-space: normal;
}

[pj-history-day] .history-row {
   height:190px;
}

[pj-history-med] {
   border: 2px solid #053E80;
   position:relative;
   text-align: center;
   margin:2px;
}
[pj-history-med] .med-info-footer {
   color:white;
   background-color: #053E80;
   width:100%;
   bottom:0;
   left:0;
   right:0;
   padding: 5px 2px;
   position:absolute;
}
[pj-history-med] .med-name {
   width:100%;
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
}

[pj-history-med] .med-icon {
   width: 100px;
   height: 0;
   padding-bottom: 100px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   position: relative;
   margin:5px auto;
}

[pj-history-med] .status-triangle {
   position: absolute;
   right: 0;
   top:0;
   width: 0; 
   height: 0; 
   border-left: 40px solid transparent;
   border-right: 0px solid transparent;
   border-top: 40px solid #BDDCFF;
}

.history-footer {
   height: 80px;
}

.history-footer .med-status {
   border: 2px solid #053E80;
   width: 190px;
   height: 44px;
   padding: 8px 10px;
   margin: 10px auto 0 auto;
   position:relative;
   color: black;
   font-size: 15pt;
   font-weight: bold;
}

.history-footer .med-status .indicator {
   position:absolute;
   right: 0;
   top:0;
   width: 0; 
   height: 0; 
   border-left: 40px solid transparent;
   border-right: 0px solid transparent;
   border-top: 40px solid #BDDCFF;
   margin: 0 auto 5px auto;
}

.status-on-time { opacity: 1; border-top: 40px solid green !important; }
.status-to-late { opacity: 1; border-top: 40px solid orange !important; }
.status-not { opacity: 1; border-top: 40px solid #c90000 !important; }

.popup-body .status-triangle {
   position:absolute;
   right: 0;
   top:0;
   width: 0; 
   height: 0; 
   border-left: 40px solid transparent;
   border-right: 0px solid transparent;
   border-top: 40px solid #BDDCFF;
   margin: 0 auto 5px auto;
}

.popup-body .med-icon {
   width: 100px;
   height: 0;
   padding-bottom: 100px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   position: relative;
   margin:5px auto;
}

.popup-head {
   background-color: #053E80;
}

.popup-head .dark-blue-title {
   color:white;
}

.scheduled .label,
.taken .label {
   float: left;
}

.scheduled .value,
.taken .value {
   float: right;
}

.taken {
   clear: both;
}

.history_interaction_item {
   margin-top: 10px;
   border: 1px solid #053E80;
}

.history-view .scroll-down {
   bottom: 80px;
}






/* ORIENTATION */
@media screen and (orientation:portrait) {
   .med-column-divider {
      display:none;
   }

   .overzicht-view .scroll-controll.scroll-down {
      bottom: 190px;
   }
}

@media screen and (orientation:landscape) {
   ion-content.overzicht-view {
      height:auto;
      left:25%;
      width:75%;
      bottom:0;
   }

   .bar-footer.overzicht-footer {
      top:49px;
      left: 0;
      width:25%;
      bottom:0;
      height:auto;
      display: block;
      border-right:1px solid rgb(90,90,90);

      -webkit-box-shadow: 8px 0px 20px 0px rgba(50, 50, 50, 0.45);
      -moz-box-shadow:    8px 0px 20px 0px rgba(50, 50, 50, 0.45);
      box-shadow:         8px 0px 20px 0px rgba(50, 50, 50, 0.45);
   }

   .overzicht-footer .col {
      flex: none;
      height:0;
      padding-bottom: 100%;
   }

   .overzicht-footer .col div {
      padding-bottom: 80%;
      margin-top: 5%;
   }

   .nav-icon {
      width: 80px;
      height: 80px;
   }

   .radio-container {
      width: 150px;
   }

   .pj-radio i, .pj-radio label {
      line-height: 150px;
   }

   .med-add-options .button {
      width:70%;
      margin: 0 15%;
      font-size: 34px;
   }

   .new-med-container {
      padding: 2% 10%;
   }

   .med-column {
      width: 49.5%;
      float:left;
      position:relative;
   }

   .floater {
      height:1px;
      width:100%;
      clear:both;
   }

   .med-column-divider {
      float:left;
      width:1%;
      background-color: #053E80;
      height:250px;
      height:100vh;
   }

   [pj-history-day] {
      height: 202px;
   }


   [pj-history-day] .history-date {
      position:absolute;
      width:10%;
      left:0;
      height:200px;
      line-height: 40pt;
      font-size: 18pt;
      padding: 10px;
   }

   [pj-history-day] .history-row {
      position:absolute;
      left:10%;
      height:200px;
      width:90%;
   }



}